.btn {
  box-sizing: border-box;
  height: 52px;
  border-radius: 6px;
  background-color: var(--color-primary);
  color: var(--color-text-bold);
  border: none;
  font-weight: 600;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  line-height: 28px;
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
}

.btn:hover {
  background-color: var(--color-primary-hover);
}

/* nový outlined button */
.btn-outlined {
  box-sizing: border-box;
  background-color: transparent;
  color: var(--color-primary);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0%;
}

.btn-outlined:hover {
  background-color: rgba(255, 255, 255, 0.1); /* jemný hover efekt */
}
