.custom-select-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.custom-select-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  font-family: "Inter", sans-serif;
  color: #181818;
}
.required-star {
  color: #ef4444;
  margin-left: 4px;
}

.custom-select-error {
  color: #ef4444;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}
