@import "../UsersPage/UsersPage.css";

.brands-page table th,
.brands-page table td {
  width: auto;
  padding: 14px 8px;
}

.brands-page table th {
  white-space: normal;
}

.brands-page table th:nth-child(1),
.brands-page table td:nth-child(1) {
  width: 100px;
}

.brands-page table th:nth-child(2),
.brands-page table td:nth-child(2),
.brands-page table th:nth-child(3),
.brands-page table td:nth-child(3),
.brands-page table th:nth-child(4),
.brands-page table td:nth-child(4) {
  width: 1%;
  min-width: unset;
  text-align: center;
  white-space: nowrap;
}

.brands-page table th:nth-child(2),
.brands-page table th:nth-child(3),
.brands-page table th:nth-child(4) {
  white-space: normal !important;
}
