@import "../../styles/colors.css";

.login-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* formulár bude naľavo */
  padding-left: 50px;
  overflow: hidden;
}

/* Obrázok v pozadí */
.login-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transform: translateX(-18%);
}

/* Formulár nad obrázkom */
.login-form-container {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  width: 430px;
  padding: 40px;
  margin-left: 80px;
  background-color: var(--color-background-elements);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 1px solid var(--color-border-elements);
}

.login-title {
  margin-bottom: 10px;
  font-weight: 800;
  font-family: "Inter", sans-serif;
  line-height: 100%;
  margin-top: 10px;
}

/* Štýl pre login view */
.login-title.login {
  font-size: 48px;
  color: var(--color-text);
}

/* Štýl pre forgot password view */
.login-title.forgot {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.75%;
}

/* Štýl pre sent view */
.login-title.sent {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: "semi-bold";
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.75%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500; /* Regular */
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: var(--color-text);
  margin-top: -10px;
}

.remember-me input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.forgot-password {
  text-decoration: none;
  color: var(--color-error);
  font-weight: 500; /* Medium */
  font-size: 14px;
}

.forgot-password:hover {
  text-decoration: underline;
}
.forgot-description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  margin-bottom: 0px;
}

.sent-description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
}

.error-text {
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  color: var(--color-error);
}

.login-form-container form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
