html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
}
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.app-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main-content {
  flex: 1;
  overflow-y: auto;
}
