.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
  transform: translateZ(0);
}

.modal-container {
  background: #f0f4f8;

  width: 700px;
  border-radius: 12px;
  padding: 30px;
  position: relative;
  border: 1px solid #ddd;
  transform: translateZ(0);
  will-change: transform;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.75%;
  color: #181818;
}

.modal-header h2 {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.0075em;
}

.close-icon {
  font-size: 24px;
  cursor: pointer;
  color: #181818;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: start;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.select-field-modal {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #e5eaf0;
  background-color: #fff;
  font-size: 14px;
  width: 100%;
  height: 40px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn-submit {
  width: 200px;
  height: 45px;
  font-weight: 600;
  background-color: #00bfae;
  border: none;
}

.general-error {
  color: var(--error-color, red);
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
  font-size: 0.9rem;
}
