.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.input-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  font-family: "Inter", sans-serif;
}

.input-field {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--color-border-elements);
  background-color: var(--color-background-elements);
  font-weight: 400;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  line-height: 14px;
  width: 100%;
  box-sizing: border-box;
}

/* Password */
.password-input {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input input {
  padding-right: 40px;
}

.password-toggle {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: var(--color-secondary);
  font-size: 14px;
}

.required-star {
  color: var(--color-primary);
  margin-left: 2px;
}

.input-error {
  border: 1px solid var(--color-error);
}

.error-text {
  color: var(--color-error);
  font-size: 14px;
  margin-top: 4px;
  font-family: "Inter", sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
}
